<ul id="links">
  <% @links.each do |link| %>
  <li>
    <a href=<%= link.url %>><%= link.title %></a> 
    <% link.tags.each do |tag| %>
      <%= "##{tag.category}" %>
    <% end %>
  </li>
  <% end %>
</ul>
