<ul id="filtered_links">
  <% @filtered_links.each do |link| %>
  <li>
    <a href=<%= link.url %>><%= link.title %></a> 
    <% link.tags.each do |tag| %>
      <%= "##{tag.name}" %>
    <% end %>
  </li>
  <% end %>
</ul>